</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made with ❤️ by GABO. Visit gabo.rocks! <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script> ©</p>
</div>
</div>
</body>

</html>
